# Import and concatenate

In [1]:
# importing libraries
import pandas as pd
import ast

# reading the data
bangalore = pd.read_excel('DataSets\\bangalore_cars.xlsx')
bangalore['City'] = 'Bangalore'
chennai = pd.read_excel('DataSets\\chennai_cars.xlsx')
chennai['City'] = 'Chennai'
delhi = pd.read_excel('DataSets\\delhi_cars.xlsx')
delhi['City'] = 'Delhi'
hyderabad = pd.read_excel('DataSets\\hyderabad_cars.xlsx')
hyderabad['City'] = 'Hyderabad'
jaipur = pd.read_excel('DataSets\\jaipur_cars.xlsx')
jaipur['City'] = 'Jaipur'
kolkata = pd.read_excel('DataSets\\kolkata_cars.xlsx')
kolkata['City'] = 'Kolkata'

# concatenating all the data
all_city_df = pd.concat([bangalore,chennai,delhi,hyderabad,jaipur,kolkata],ignore_index=True)

In [2]:
# printing the first 4 rows of the dataframe
all_city_df.head(4)

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links,City
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Bangalore
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,Bangalore
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...,Bangalore
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...,Bangalore

In [3]:
# printing the columns of the dataframe
all_city_df.columns.tolist()

['new_car_detail',
 'new_car_overview',
 'new_car_feature',
 'new_car_specs',
 'car_links',
 'City']

In [4]:
# counting the number of rows in the dataframe
all_city_df.count()

new_car_detail      8369
new_car_overview    8369
new_car_feature     8369
new_car_specs       8369
car_links           8369
City                8369
dtype: int64

# Structuring the dataset

In [5]:
# structure the new_car_detail column
car_details = all_city_df['new_car_detail'].apply(lambda x : ast.literal_eval(x))
# normalizing the json data
df1 = pd.json_normalize(car_details)
# renaming the columns
df1.rename(columns={'it':'Ignition type','ft':'Fuel type','bt':'Body type','km':'Kilometers driven','owner':'Ownership details','mileage':'car_mileage','engine':'car_engine',},inplace=True)
df1.head(4)

,Ignition type,Fuel type,Body type,Kilometers driven,transmission,ownerNo,Ownership details,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,3979,VXI,₹ 4 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,₹ 8.11 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,₹ 5.85 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,₹ 4.62 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [6]:
# structure the new_car_overview column
car_overview = all_city_df['new_car_overview'].apply(lambda x : ast.literal_eval(x))

# getting the top values from the car_overview column
top = car_overview.apply(lambda x : x['top'])
rows = []

# looping through the top values and appending the data to the rows list
for i in top:
    column_data = {}
    for j in i:                                 # looping through the data
        column_data[j['key']] = j['value']      # appending the data to the column_data dictionary
    rows.append(column_data)                    # appending the column_data dictionary to the rows list

# creating a dataframe from the rows list
df2 = pd.DataFrame(rows)
df2.head(4)

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0
1,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0
2,Sept 2018,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018.0
3,Dec 2014,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014.0

In [7]:
# structure the new_car_specs column
car_specs = all_city_df['new_car_specs'].apply(lambda x : ast.literal_eval(x))

l = []                                      # creating an empty list
for i in car_specs:                         # looping through the car_specs column
    column_data = {}                        # creating an empty dictionary
    for j in i['top']:                      # looping through the top values
        column_data[j['key']] = j['value']  # appending the data to the column_data dictionary
    l.append(column_data)                   # appending the column_data dictionary to the list

# creating a dataframe from the list
df4 = pd.DataFrame(l)
df4.head(4)                                # printing the first 4 rows of the dataframe

      Mileage   Engine  Max Power    Torque Seats Wheel Size
0   23.1 kmpl   998 CC   67.04bhp      90Nm     5        NaN
1     17 kmpl  1497 CC  121.31bhp     150Nm     5         16
2  23.84 kmpl  1199 CC      84bhp     114Nm     5         14
3   19.1 kmpl  1197 CC   81.86bhp  113.75Nm     5         14

In [8]:
column_data = {}                                        # creating an empty dictionary
data = [j for i in car_specs for j in i['data']]        # looping through the data column
l = []                                                  # creating an empty list

# looping through the data column
for i in data:                                          
    column_data = {}                                    # creating an empty dictionary
    x = i['subHeading']                                 # getting the subHeading value
    for j in i['list']:                                 # looping through the list values
        column_data[f"{x}_{j['key']}"] = j['value']     # appending the data to the column_data dictionary
    l.append(column_data)                               # appending the column_data dictionary to the list

# creating a dataframe from the list
df5 = pd.DataFrame(l)
df5.head(4)

,Engine_Color,Engine_Engine Type,Engine_Displacement,Engine_Max Power,Engine_Max Torque,Engine_No of Cylinder,Engine_Values per Cylinder,Engine_Value Configuration,Engine_Fuel Suppy System,Engine_BoreX Stroke,...,Miscellaneous_Turning Radius,Miscellaneous_Front Brake Type,Miscellaneous_Rear Brake Type,Miscellaneous_Top Speed,Miscellaneous_Acceleration,Miscellaneous_Tyre Type,Miscellaneous_No Door Numbers,Miscellaneous_Cargo Volumn,Miscellaneous_Alloy Wheel Size,Dimensions_Ground Clearance Unladen
0,White,K10B Engine,998,67.04bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,MPFi,73 X 82 mm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,NaN
3,White,Ti-VCT Petrol Engine,1497,121.31bhp@6500rpm,150Nm@4500rpm,3.0,4.0,DOHC,Direct Injection,79 X 76.5 mm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# concatenating the df4 and df5 dataframe
df4 = pd.concat([df4,df5],axis=1)       
df4.head(4)                        # printing the first 4 rows of the dataframe

,Mileage,Engine,Max Power,Torque,Seats,Wheel Size,Engine_Color,Engine_Engine Type,Engine_Displacement,Engine_Max Power,...,Miscellaneous_Turning Radius,Miscellaneous_Front Brake Type,Miscellaneous_Rear Brake Type,Miscellaneous_Top Speed,Miscellaneous_Acceleration,Miscellaneous_Tyre Type,Miscellaneous_No Door Numbers,Miscellaneous_Cargo Volumn,Miscellaneous_Alloy Wheel Size,Dimensions_Ground Clearance Unladen
0,23.1 kmpl,998 CC,67.04bhp,90Nm,5,NaN,White,K10B Engine,998,67.04bhp@6000rpm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17 kmpl,1497 CC,121.31bhp,150Nm,5,16,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23.84 kmpl,1199 CC,84bhp,114Nm,5,14,NaN,NaN,NaN,NaN,...,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,NaN
3,19.1 kmpl,1197 CC,81.86bhp,113.75Nm,5,14,White,Ti-VCT Petrol Engine,1497,121.31bhp@6500rpm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# concatenating all the dataframes
df = pd.concat([df1,df2,df4],axis=1)                
df['City'] = all_city_df['City']                      # adding the City column to the dataframe
df.head(4)                                         # printing the first 4 rows of the dataframe

,Ignition type,Fuel type,Body type,Kilometers driven,transmission,ownerNo,Ownership details,oem,model,modelYear,...,Miscellaneous_Front Brake Type,Miscellaneous_Rear Brake Type,Miscellaneous_Top Speed,Miscellaneous_Acceleration,Miscellaneous_Tyre Type,Miscellaneous_No Door Numbers,Miscellaneous_Cargo Volumn,Miscellaneous_Alloy Wheel Size,Dimensions_Ground Clearance Unladen,City
0,0.0,Petrol,Hatchback,"1,20,000",Manual,3.0,3rd Owner,Maruti,Maruti Celerio,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
1,0.0,Petrol,SUV,"32,706",Manual,2.0,2nd Owner,Ford,Ford Ecosport,2018.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore
2,0.0,Petrol,Hatchback,"11,949",Manual,1.0,1st Owner,Tata,Tata Tiago,2018.0,...,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,NaN,Bangalore
3,0.0,Petrol,Sedan,"17,794",Manual,1.0,1st Owner,Hyundai,Hyundai Xcent,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bangalore

In [11]:
# Drop unnecessary columns  

df.drop(['Ignition type','oem','priceActual','priceSaving','priceFixedText','trendingText.desc','trendingText.heading','trendingText.imgUrl','Fuel Type','Kms Driven','RTO','Ownership','Transmission','Year of Manufacture','Engine Displacement','Dimensions_Ground Clearance Unladen','Miscellaneous_Alloy Wheel Size','Miscellaneous_Cargo Volumn','Engine_Super Charger', 'Dimensions_Length', 'Dimensions_Width', 'Dimensions_Height', 'Dimensions_Wheel Base', 'Dimensions_Front Tread', 'Dimensions_Rear Tread', 'Dimensions_Kerb Weight', 'Dimensions_Gross Weight', 'Miscellaneous_Gear Box', 'Miscellaneous_Drive Type', 'Miscellaneous_Seating Capacity', 'Miscellaneous_Steering Type', 'Miscellaneous_Turning Radius', 'Miscellaneous_Front Brake Type', 'Miscellaneous_Rear Brake Type', 'Miscellaneous_Top Speed', 'Miscellaneous_Acceleration', 'Miscellaneous_Tyre Type', 'Miscellaneous_No Door Numbers', 'Seats', 'Wheel Size', 'Engine_Color', 'Engine_Engine Type', 'Engine_Displacement', 'Engine_Max Power', 'Engine_Max Torque', 'Engine_No of Cylinder', 'Engine_Values per Cylinder', 'Engine_Value Configuration', 'Engine_Fuel Suppy System', 'Engine_BoreX Stroke', 'Engine_Compression Ratio', 'Engine_Turbo Charger','Ownership details','centralVariantId'],axis=1,inplace=True)

In [12]:
df.head(4) # printing the first 4 rows of the dataframe

,Fuel type,Body type,Kilometers driven,transmission,ownerNo,model,modelYear,variantName,price,Registration Year,Insurance Validity,Mileage,Engine,Max Power,Torque,City
0,Petrol,Hatchback,"1,20,000",Manual,3.0,Maruti Celerio,2015.0,VXI,₹ 4 Lakh,2015,Third Party insurance,23.1 kmpl,998 CC,67.04bhp,90Nm,Bangalore
1,Petrol,SUV,"32,706",Manual,2.0,Ford Ecosport,2018.0,1.5 Petrol Titanium BSIV,₹ 8.11 Lakh,Feb 2018,Comprehensive,17 kmpl,1497 CC,121.31bhp,150Nm,Bangalore
2,Petrol,Hatchback,"11,949",Manual,1.0,Tata Tiago,2018.0,1.2 Revotron XZ,₹ 5.85 Lakh,Sept 2018,Comprehensive,23.84 kmpl,1199 CC,84bhp,114Nm,Bangalore
3,Petrol,Sedan,"17,794",Manual,1.0,Hyundai Xcent,2014.0,1.2 Kappa S Option,₹ 4.62 Lakh,Dec 2014,Comprehensive,19.1 kmpl,1197 CC,81.86bhp,113.75Nm,Bangalore

# Standardising Data Formats

In [13]:
# Count the total number of missing values in each column
print(df.isnull().sum())

print("\nAfter removing the rows where all columns have null values")

# Drop rows where all columns have null values in a row
df = df.dropna(how='all',axis=0)
df.isnull().sum() # counting the number of rows in the dataframe

Fuel type             16690
Body type             16690
Kilometers driven     16690
transmission          16690
ownerNo               16690
model                 16690
modelYear             16690
variantName           16690
price                 16690
Registration Year     16742
Insurance Validity    16694
Mileage               16977
Engine                16694
Max Power             16750
Torque                16750
City                  16690
dtype: int64

After removing the rows where all columns have null values

Fuel type               0
Body type               0
Kilometers driven       0
transmission            0
ownerNo                 0
model                   0
modelYear               0
variantName             0
price                   0
Registration Year      52
Insurance Validity      4
Mileage               287
Engine                  4
Max Power              60
Torque                 60
City                    0
dtype: int64

In [14]:
# function to remove the currency symbol and spaces from Kilometers driven column
def km_driven(x):
    year = x.replace(' km','').replace(',','')
    return int(year)
# Remove the currency symbol and spaces
df['Kilometers driven'] = df['Kilometers driven'].apply(km_driven)
df['Kilometers driven'] = df['Kilometers driven'].astype('int64')

In [15]:
# converting the columns to string
df = df.convert_dtypes()

# Function to convert price to numerical value
def convert_price(price_str):
    if isinstance(price_str, str):
        price_str = price_str.replace("₹", "").strip()
        if "Lakh" in price_str:
            price_str = price_str.replace("Lakh", "").strip()
            return float(float(price_str) * 100000)  # 1 Lakh = 100,000
        elif "Cr" in price_str:
            price_str = price_str.replace("Crore", "").strip()
            return float(float(price_str) * 10000000)  # 1 Cr = 10,000,000
# Apply the function to the 'price' column
df['price'] = df['price'].apply(convert_price).astype('float64')

In [16]:
import re       # importing the re module

# function to extract the year from the Registration Year column
def year(x):
    if isinstance(x, str):
        pattern = r'\d{4}'                  # pattern to extract the year
        match = re.search(pattern, x)       # searching the pattern in the string
        if match:                           # if the pattern is found return the matched value
            return int(match.group(0))

df['Registration Year'] = df['Registration Year'].apply(year).astype('Int64')   # applying the function to the Registration Year column

# renaming the columns
df.rename(columns={'Mileage':'Mileage(kmpl)','Engine': 'Engine(CC)','Max Power':'Max Power(bhp)','Torque':'Torque(Nm)'},inplace=True)   

def mileage(x):
    if isinstance(x, str):
        try:
            return float(x.replace(' km/kg', '')) * 0.425143707         # 1 km/kg = 0.425143707 kmpl
        except:
            return float(x.replace(' kmpl', ''))                        # removing the kmpl from the string

def get_values(x):
    if isinstance(x, str):
        pattern = r'\d*\.\d+|\d+'                       # pattern to extract the values
        return re.findall(pattern, x)[0]                # returning the first value from the list

# applying the functions to the columns
df['Mileage(kmpl)'] = df['Mileage(kmpl)'].apply(mileage).astype('float64',errors='ignore')
df['Engine(CC)'] = df['Engine(CC)'].apply(get_values).astype('float64',errors='ignore')
df['Max Power(bhp)'] = df['Max Power(bhp)'].apply(get_values).astype('float64',errors='ignore')
df['Torque(Nm)'] = df['Torque(Nm)'].apply(get_values).astype('float64',errors='ignore')

df.dtypes # printing the datatypes of the columns

Fuel type             string[python]
Body type             string[python]
Kilometers driven              Int64
transmission          string[python]
ownerNo                        Int64
model                 string[python]
modelYear                      Int64
variantName           string[python]
price                        float64
Registration Year              Int64
Insurance Validity    string[python]
Mileage(kmpl)                float64
Engine(CC)                   float64
Max Power(bhp)               float64
Torque(Nm)                   float64
City                  string[python]
dtype: object

# Handling Missing Values

In [ ]:
# handling missing values using fillna method 
df['price'].fillna(df['price'].mean(), inplace=True)    
df['Registration Year'].fillna(df['Registration Year'].median(), inplace=True)
df['Insurance Validity'].fillna(df['Insurance Validity'].mode()[0], inplace=True)
df['Mileage(kmpl)'].fillna(df['Mileage(kmpl)'].mean(), inplace=True)
df['Engine(CC)'].fillna(df['Engine(CC)'].mean(), inplace=True)
df['Max Power(bhp)'].fillna(df['Max Power(bhp)'].mean(), inplace=True)
df['Torque(Nm)'].fillna(df['Torque(Nm)'].mean(), inplace=True)

In [18]:
df.isnull().sum() # counting the number of missing values in the dataframe

Fuel type             0
Body type             0
Kilometers driven     0
transmission          0
ownerNo               0
model                 0
modelYear             0
variantName           0
price                 0
Registration Year     0
Insurance Validity    0
Mileage(kmpl)         0
Engine(CC)            0
Max Power(bhp)        0
Torque(Nm)            0
City                  0
dtype: int64

In [20]:
df.to_excel('car_data.xlsx',index=False) # saving the dataframe to an excel file

# Encoding Categorical Variables

In [22]:
import pickle                                     # importing the pickle module
from sklearn.preprocessing import LabelEncoder    # importing the LabelEncoder class

# columns to encode
columns_to_encode = ['Fuel type','Body type','transmission','model','variantName','Insurance Validity','City']  

# Apply label encoding
label_encoder = LabelEncoder()

for column in columns_to_encode:
    df[column] = label_encoder.fit_transform(df[column])

# saving the label encoder object
with open('label_encoder.pkl', 'wb') as file:
    pickle.dump(label_encoder, file)
    
df.head(2) # printing the first 2 rows of the dataframe

,Fuel type,Body type,Kilometers driven,transmission,ownerNo,model,modelYear,variantName,price,Registration Year,Insurance Validity,Mileage(kmpl),Engine(CC),Max Power(bhp),Torque(Nm),City
0,4,3,120000,1,3,160,2015,1806,400000.0,2015,5,23.1,998.0,67.04,90.0,0
1,4,8,32706,1,2,50,2018,288,811000.0,2018,2,17.0,1497.0,121.31,150.0,0

## Normalizing Numerical Features

In [25]:
from sklearn.preprocessing import StandardScaler    # importing the StandardScaler class

# columns to scale
columns_to_scale = ['price','Kilometers driven','modelYear','Registration Year','Mileage(kmpl)','Engine(CC)','Max Power(bhp)','Torque(Nm)']

# Apply StandardScaler by creating an object of StandardScaler class
scaler = StandardScaler()                                      
df[columns_to_scale] = scaler.fit_transform(df[columns_to_scale])    # scaling the columns

# saving the scaler object
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

df.head(2) # printing the first 2 rows of the dataframe

,Fuel type,Body type,Kilometers driven,transmission,ownerNo,model,modelYear,variantName,price,Registration Year,Insurance Validity,Mileage(kmpl),Engine(CC),Max Power(bhp),Torque(Nm),City
0,4,3,0.824042,1,3,160,-0.383371,1806,-0.402692,-0.424863,5,0.995912,-0.893713,-0.825402,-0.802358,0
1,4,8,-0.354706,1,2,50,0.381695,288,-0.111695,0.364410,2,-0.555070,0.151343,0.348496,-0.254202,0

## Removing Outliers

In [26]:
from scipy.stats import zscore    # importing the zscore function
import numpy as np                # importing the numpy library 

# function to remove outliers
def remove_outliers(df, columns):
    z = np.abs(zscore(df[columns]))
    # Keep only rows where Z-score is less than 3
    df = df[(z < 3).all(axis=1)]
    return df

print("Before removing outliers:", df.shape)    # printing the shape of the dataframe

# Remove outliers using Z-score
df = remove_outliers(df, columns_to_scale)  

print("After removing outliers:", df.shape)    # printing the shape of the dataframe

Before removing outliers: (8369, 16)
After removing outliers: (7936, 16)