## Import and concatenate

In [1]:
# importing libraries
import pandas as pd
import ast

# reading the data
bangalore = pd.read_excel('D:\\Programming\\GUVI PROJECTS CODE\\PROJECT - 3\\Data Preprocessing & Cleaning//bangalore_cars.xlsx')
bangalore['City'] = 'Bangalore'
chennai = pd.read_excel('D:\\Programming\\GUVI PROJECTS CODE\\PROJECT - 3\\Data Preprocessing & Cleaning//chennai_cars.xlsx')
chennai['City'] = 'Chennai'
delhi = pd.read_excel('D:\\Programming\\GUVI PROJECTS CODE\\PROJECT - 3\\Data Preprocessing & Cleaning//delhi_cars.xlsx')
delhi['City'] = 'Delhi'
hyderabad = pd.read_excel('D:\\Programming\\GUVI PROJECTS CODE\\PROJECT - 3\\Data Preprocessing & Cleaning\\hyderabad_cars.xlsx')
hyderabad['City'] = 'Hyderabad'
jaipur = pd.read_excel('D:\\Programming\\GUVI PROJECTS CODE\\PROJECT - 3\\Data Preprocessing & Cleaning//jaipur_cars.xlsx')
jaipur['City'] = 'Jaipur'
kolkata = pd.read_excel('D:\\Programming\\GUVI PROJECTS CODE\\PROJECT - 3\\Data Preprocessing & Cleaning//kolkata_cars.xlsx')
kolkata['City'] = 'Kolkata'

# concatenating all the data
all_city_df = pd.concat([bangalore,chennai,delhi,hyderabad,jaipur,kolkata],ignore_index=True)

In [ ]:
# printing the first 4 rows of the dataframe
all_city_df.head(4)

In [ ]:
# printing the columns of the dataframe
all_city_df.columns.tolist()

In [ ]:
# counting the number of rows in the dataframe
all_city_df.count()

## Structuring the dataset

In [ ]:
# structure the new_car_detail column
car_details = all_city_df['new_car_detail'].apply(lambda x : ast.literal_eval(x))
# normalizing the json data
df1 = pd.json_normalize(car_details)
# renaming the columns
df1.rename(columns={'it':'Ignition type','ft':'Fuel type','bt':'Body type','km':'Kilometers driven','owner':'Ownership details','mileage':'car_mileage','engine':'car_engine',},inplace=True)
df1.head(4)

In [ ]:
# structure the new_car_overview column
car_overview = all_city_df['new_car_overview'].apply(lambda x : ast.literal_eval(x))

# getting the top values from the car_overview column
top = car_overview.apply(lambda x : x['top'])
rows = []

# looping through the top values and appending the data to the rows list
for i in top:
    column_data = {}
    for j in i:                                 # looping through the data
        column_data[j['key']] = j['value']      # appending the data to the column_data dictionary
    rows.append(column_data)                    # appending the column_data dictionary to the rows list

# creating a dataframe from the rows list
df2 = pd.DataFrame(rows)
df2.head(4)

In [7]:
# structure the new_car_specs column
car_specs = all_city_df['new_car_specs'].apply(lambda x : ast.literal_eval(x))

l = []                                      # creating an empty list
for i in car_specs:                         # looping through the car_specs column
    column_data = {}                        # creating an empty dictionary
    for j in i['top']:                      # looping through the top values
        column_data[j['key']] = j['value']  # appending the data to the column_data dictionary
    l.append(column_data)                   # appending the column_data dictionary to the list

# creating a dataframe from the list
df4 = pd.DataFrame(l)

In [ ]:
df4.head(4)                            # printing the first 4 rows of the dataframe

In [ ]:
column_data = {}                                        # creating an empty dictionary
data = [j for i in car_specs for j in i['data']]        # looping through the data column
l = []                                                  # creating an empty list

# looping through the data column
for i in data:                                          
    column_data = {}                                    # creating an empty dictionary
    x = i['subHeading']                                 # getting the subHeading value
    for j in i['list']:                                 # looping through the list values
        column_data[f"{x}_{j['key']}"] = j['value']     # appending the data to the column_data dictionary
    l.append(column_data)                               # appending the column_data dictionary to the list

# creating a dataframe from the list
df5 = pd.DataFrame(l)
df5.head(4)

In [ ]:
# concatenating the df4 and df5 dataframe
df4 = pd.concat([df4,df5],axis=1)       
df4.head(4)                        # printing the first 4 rows of the dataframe

In [ ]:
# concatenating all the dataframes
df = pd.concat([df1,df2,df4],axis=1)                
df['City'] = all_city_df['City']                      # adding the City column to the dataframe
df.head(4)                                         # printing the first 4 rows of the dataframe

In [12]:
# Drop unnecessary columns  

df.drop(['Ignition type','oem','priceActual','priceSaving','priceFixedText','trendingText.desc','trendingText.heading','trendingText.imgUrl','Fuel Type','Kms Driven','RTO','Ownership','Transmission','Year of Manufacture','Engine Displacement','Dimensions_Ground Clearance Unladen','Miscellaneous_Alloy Wheel Size','Miscellaneous_Cargo Volumn','Engine_Super Charger', 'Dimensions_Length', 'Dimensions_Width', 'Dimensions_Height', 'Dimensions_Wheel Base', 'Dimensions_Front Tread', 'Dimensions_Rear Tread', 'Dimensions_Kerb Weight', 'Dimensions_Gross Weight', 'Miscellaneous_Gear Box', 'Miscellaneous_Drive Type', 'Miscellaneous_Seating Capacity', 'Miscellaneous_Steering Type', 'Miscellaneous_Turning Radius', 'Miscellaneous_Front Brake Type', 'Miscellaneous_Rear Brake Type', 'Miscellaneous_Top Speed', 'Miscellaneous_Acceleration', 'Miscellaneous_Tyre Type', 'Miscellaneous_No Door Numbers', 'Seats', 'Wheel Size', 'Engine_Color', 'Engine_Engine Type', 'Engine_Displacement', 'Engine_Max Power', 'Engine_Max Torque', 'Engine_No of Cylinder', 'Engine_Values per Cylinder', 'Engine_Value Configuration', 'Engine_Fuel Suppy System', 'Engine_BoreX Stroke', 'Engine_Compression Ratio', 'Engine_Turbo Charger'],axis=1,inplace=True)

In [ ]:
df.head(4) # printing the first 4 rows of the dataframe

## Standardising Data Formats

In [ ]:
# Count the total number of missing values in each column
print(df.isnull().sum())

print("\nAfter removing the rows where all columns have null values")

# Drop rows where all columns have null values in a row
df = df.dropna(how='all',axis=0)
df.isnull().sum() # counting the number of rows in the dataframe

In [15]:
# function to remove the currency symbol and spaces from Kilometers driven column
def km_driven(x):
    year = x.replace(' km','').replace(',','')
    return int(year)
# Remove the currency symbol and spaces
df['Kilometers driven'] = df['Kilometers driven'].apply(km_driven)
df['Kilometers driven'] = df['Kilometers driven'].astype('int64')

In [16]:
# converting the columns to string
df = df.convert_dtypes()

# Function to convert price to numerical value
def convert_price(price_str):
    if isinstance(price_str, str):
        price_str = price_str.replace("â‚¹", "").strip()
        if "Lakh" in price_str:
            price_str = price_str.replace("Lakh", "").strip()
            return float(float(price_str) * 100000)  # 1 Lakh = 100,000
        elif "Cr" in price_str:
            price_str = price_str.replace("Crore", "").strip()
            return float(float(price_str) * 10000000)  # 1 Cr = 10,000,000
# Apply the function to the 'price' column
df['price'] = df['price'].apply(convert_price).astype('float64')

In [ ]:
import re       # importing the re module

# function to extract the year from the Registration Year column
def year(x):
    if isinstance(x, str):
        pattern = r'\d{4}'                  # pattern to extract the year
        match = re.search(pattern, x)       # searching the pattern in the string
        if match:                           # if the pattern is found return the matched value
            return int(match.group(0))

df['Registration Year'] = df['Registration Year'].apply(year).astype('Int64')   # applying the function to the Registration Year column

# renaming the columns
df.rename(columns={'Mileage':'Mileage(kmpl)','Engine': 'Engine(CC)','Max Power':'Max Power(bhp)','Torque':'Torque(Nm)'},inplace=True)   

def mileage(x):
    if isinstance(x, str):
        try:
            return float(x.replace(' km/kg', '')) * 0.425143707         # 1 km/kg = 0.425143707 kmpl
        except:
            return float(x.replace(' kmpl', ''))                        # removing the kmpl from the string

def get_values(x):
    if isinstance(x, str):
        pattern = r'\d*\.\d+|\d+'                       # pattern to extract the values
        return re.findall(pattern, x)[0]                # returning the first value from the list

# applying the functions to the columns
df['Mileage(kmpl)'] = df['Mileage(kmpl)'].apply(mileage).astype('float64',errors='ignore')
df['Engine(CC)'] = df['Engine(CC)'].apply(get_values).astype('float64',errors='ignore')
df['Max Power(bhp)'] = df['Max Power(bhp)'].apply(get_values).astype('float64',errors='ignore')
df['Torque(Nm)'] = df['Torque(Nm)'].apply(get_values).astype('float64',errors='ignore')

df.dtypes # printing the datatypes of the columns

## Handling Missing Values

In [ ]:
# handling missing values using fillna method 
df['price'].fillna(df['price'].mean(), inplace=True)    
df['Registration Year'].fillna(df['Registration Year'].median(), inplace=True)
df['Insurance Validity'].fillna(df['Insurance Validity'].mode()[0], inplace=True)
df['Mileage(kmpl)'].fillna(df['Mileage(kmpl)'].mean(), inplace=True)
df['Engine(CC)'].fillna(df['Engine(CC)'].mean(), inplace=True)
df['Max Power(bhp)'].fillna(df['Max Power(bhp)'].mean(), inplace=True)
df['Torque(Nm)'].fillna(df['Torque(Nm)'].mean(), inplace=True)

In [ ]:
df.isnull().sum() # counting the number of missing values in the dataframe

## Encoding Categorical Variables

In [ ]:
from sklearn.preprocessing import LabelEncoder    # importing the LabelEncoder class

# columns to encode
columns_to_encode = ['Fuel type','Body type','transmission','Ownership details','model','variantName','Insurance Validity','City']  

# Apply label encoding
label_encoder = LabelEncoder()

for column in columns_to_encode:
    df[column] = label_encoder.fit_transform(df[column])

df.head(2) # printing the first 2 rows of the dataframe

## Normalizing Numerical Features

In [21]:
from sklearn.preprocessing import MinMaxScaler    # importing the MinMaxScaler class
from sklearn.preprocessing import StandardScaler    # importing the StandardScaler class

# columns to scale
columns_to_scale = ['price','Kilometers driven','modelYear','Registration Year','Mileage(kmpl)','Engine(CC)','Max Power(bhp)','Torque(Nm)']

df_minmax = df_standard = df.copy()                     # creating a copy of the dataframe

# Apply MinMaxScaler by creating an object of MinMaxScaler class
scaler = MinMaxScaler()                                
df_minmax[columns_to_scale] = scaler.fit_transform(df_minmax[columns_to_scale])   # scaling the columns

# Apply StandardScaler by creating an object of StandardScaler class
scaler = StandardScaler()                                      
df_standard[columns_to_scale] = scaler.fit_transform(df_standard[columns_to_scale])    # scaling the columns

## Removing Outliers

In [ ]:
from scipy.stats import zscore    # importing the zscore function
import numpy as np                # importing the numpy library 

# function to remove outliers
def remove_outliers(df, columns):
    z = np.abs(zscore(df[columns]))
    # Keep only rows where Z-score is less than 3
    df = df[(z < 3).all(axis=1)]
    return df

# Remove outliers using Z-score
df_minmax = remove_outliers(df_minmax, columns_to_scale)
df_standard = remove_outliers(df_standard, columns_to_scale)  

if df_minmax.equals(df_standard):    # checking if the dataframes are equal
    print("Dataframes are equal")   # printing the message
    df_minmax.to_excel('all_city.xlsx',index=False)    # saving the dataframe to an excel file