## Import and concatenate

In [1]:
# importing libraries
import pandas as pd
import ast

# reading the data
bangalore = pd.read_excel('D:\\Programming\\GUVI PROJECTS CODE\\PROJECT - 3\\DataSets\\bangalore_cars.xlsx')
chennai = pd.read_excel('D:\\Programming\\GUVI PROJECTS CODE\\PROJECT - 3\\DataSets\\chennai_cars.xlsx')
delhi = pd.read_excel('D:\\Programming\\GUVI PROJECTS CODE\\PROJECT - 3\\DataSets\\delhi_cars.xlsx')
hyderabad = pd.read_excel('D:\\Programming\\GUVI PROJECTS CODE\\PROJECT - 3\\DataSets\\hyderabad_cars.xlsx')
jaipur = pd.read_excel('D:\\Programming\\GUVI PROJECTS CODE\\PROJECT - 3\\DataSets\\jaipur_cars.xlsx')
kolkata = pd.read_excel('D:\\Programming\\GUVI PROJECTS CODE\\PROJECT - 3\\DataSets\\kolkata_cars.xlsx')

# concatenating all the data
all_city_df = pd.concat([bangalore,chennai,delhi,hyderabad,jaipur,kolkata],ignore_index=True)

In [2]:
# printing the first 4 rows of the dataframe
all_city_df.head(4)

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...

In [3]:
# printing the columns of the dataframe
all_city_df.columns.tolist()

['new_car_detail',
 'new_car_overview',
 'new_car_feature',
 'new_car_specs',
 'car_links']

In [4]:
# counting the number of rows in the dataframe
all_city_df.count()

new_car_detail      8369
new_car_overview    8369
new_car_feature     8369
new_car_specs       8369
car_links           8369
dtype: int64

## Structuring the dataset

In [5]:
# structure the new_car_detail column
car_details = all_city_df['new_car_detail'].apply(lambda x : ast.literal_eval(x))
# normalizing the json data
df1 = pd.json_normalize(car_details)
# renaming the columns
df1.rename(columns={'it':'Ignition type','ft':'Fuel type','bt':'Body type','km':'Kilometers driven','owner':'Ownership details','mileage':'car_mileage','engine':'car_engine',},inplace=True)
df1.head(4)

,Ignition type,Fuel type,Body type,Kilometers driven,transmission,ownerNo,Ownership details,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,3979,VXI,₹ 4 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,₹ 8.11 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,₹ 5.85 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,₹ 4.62 Lakh,,,None,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days

In [6]:
# structure the new_car_overview column
car_overview = all_city_df['new_car_overview'].apply(lambda x : ast.literal_eval(x))

# getting the top values from the car_overview column
top = car_overview.apply(lambda x : x['top'])
rows = []

# looping through the top values and appending the data to the rows list
for i in top:
    column_data = {}
    for j in i:                                 # looping through the data
        column_data[j['key']] = j['value']      # appending the data to the column_data dictionary
    rows.append(column_data)                    # appending the column_data dictionary to the rows list

# creating a dataframe from the rows list
df2 = pd.DataFrame(rows)
df2.head(4)

,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture
0,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0
1,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0
2,Sept 2018,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018.0
3,Dec 2014,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014.0

In [8]:
# structure the new_car_specs column
car_specs = all_city_df['new_car_specs'].apply(lambda x : ast.literal_eval(x))

l = []                                      # creating an empty list
for i in car_specs:                         # looping through the car_specs column
    column_data = {}                        # creating an empty dictionary
    for j in i['top']:                      # looping through the top values
        column_data[j['key']] = j['value']  # appending the data to the column_data dictionary
    l.append(column_data)                   # appending the column_data dictionary to the list

# creating a dataframe from the list
df4 = pd.DataFrame(l)

In [9]:
df4.head(4)                            # printing the first 4 rows of the dataframe

      Mileage   Engine  Max Power    Torque Seats Wheel Size
0   23.1 kmpl   998 CC   67.04bhp      90Nm     5        NaN
1     17 kmpl  1497 CC  121.31bhp     150Nm     5         16
2  23.84 kmpl  1199 CC      84bhp     114Nm     5         14
3   19.1 kmpl  1197 CC   81.86bhp  113.75Nm     5         14

In [10]:
column_data = {}                                        # creating an empty dictionary
data = [j for i in car_specs for j in i['data']]        # looping through the data column
l = []                                                  # creating an empty list

# looping through the data column
for i in data:                                          
    column_data = {}                                    # creating an empty dictionary
    x = i['subHeading']                                 # getting the subHeading value
    for j in i['list']:                                 # looping through the list values
        column_data[f"{x}_{j['key']}"] = j['value']     # appending the data to the column_data dictionary
    l.append(column_data)                               # appending the column_data dictionary to the list

# creating a dataframe from the list
df5 = pd.DataFrame(l)
df5.head(4)

,Engine_Color,Engine_Engine Type,Engine_Displacement,Engine_Max Power,Engine_Max Torque,Engine_No of Cylinder,Engine_Values per Cylinder,Engine_Value Configuration,Engine_Fuel Suppy System,Engine_BoreX Stroke,...,Miscellaneous_Turning Radius,Miscellaneous_Front Brake Type,Miscellaneous_Rear Brake Type,Miscellaneous_Top Speed,Miscellaneous_Acceleration,Miscellaneous_Tyre Type,Miscellaneous_No Door Numbers,Miscellaneous_Cargo Volumn,Miscellaneous_Alloy Wheel Size,Dimensions_Ground Clearance Unladen
0,White,K10B Engine,998,67.04bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,MPFi,73 X 82 mm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,NaN
3,White,Ti-VCT Petrol Engine,1497,121.31bhp@6500rpm,150Nm@4500rpm,3.0,4.0,DOHC,Direct Injection,79 X 76.5 mm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df4 = pd.concat([df4,df5],axis=1)       # concatenating the dataframes
df4.head(4)                        # printing the first 4 rows of the dataframe

,Mileage,Engine,Max Power,Torque,Seats,Wheel Size,Engine_Color,Engine_Engine Type,Engine_Displacement,Engine_Max Power,...,Miscellaneous_Turning Radius,Miscellaneous_Front Brake Type,Miscellaneous_Rear Brake Type,Miscellaneous_Top Speed,Miscellaneous_Acceleration,Miscellaneous_Tyre Type,Miscellaneous_No Door Numbers,Miscellaneous_Cargo Volumn,Miscellaneous_Alloy Wheel Size,Dimensions_Ground Clearance Unladen
0,23.1 kmpl,998 CC,67.04bhp,90Nm,5,NaN,White,K10B Engine,998,67.04bhp@6000rpm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17 kmpl,1497 CC,121.31bhp,150Nm,5,16,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23.84 kmpl,1199 CC,84bhp,114Nm,5,14,NaN,NaN,NaN,NaN,...,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5,235-litres,NaN,NaN
3,19.1 kmpl,1197 CC,81.86bhp,113.75Nm,5,14,White,Ti-VCT Petrol Engine,1497,121.31bhp@6500rpm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Contatning all the DataFrame into One Single DataFrame

### Handling Missing Values

### Standardising Data Formats

### Encoding Categorical Variables

### Normalizing Numerical Features

### Removing Outliers